#include "resource.h"

IDI_ICON ICON "icon.ico"

IDR_MENU MENU
BEGIN
    POPUP "&File"
    BEGIN
		MENUITEM "&Load...\tL", ID_LOAD
		MENUITEM SEPARATOR
		MENUITEM "&Quit\tQ", ID_QUIT
	END

    POPUP "&View"
    BEGIN
        MENUITEM "&Grid\tG", ID_VIEW_GRID, CHECKED
        MENUITEM "&Node\tN", ID_VIEW_NODE, CHECKED
        MENUITEM "&Vertices\tV", ID_VIEW_VERTICES, CHECKED
        MENUITEM "&Things\tT", ID_VIEW_THINGS, CHECKED
        MENUITEM "&Blockmap\tB", ID_VIEW_BLOCKMAP, CHECKED
    END

	MENUITEM "&About", ID_ABOUT
END

IDR_ACCELERATORS ACCELERATORS
BEGIN
	"L", ID_LOAD, VIRTKEY
	"Q", ID_QUIT, VIRTKEY
	"G", ID_VIEW_GRID, VIRTKEY
	"N", ID_VIEW_NODE, VIRTKEY
	"V", ID_VIEW_VERTICES, VIRTKEY
	"T", ID_VIEW_THINGS, VIRTKEY
	"B", ID_VIEW_BLOCKMAP, VIRTKEY
END
